input {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.btnContainer button {
  margin-right: 20px;
  height: 30%;
  width: 20%;
  border-radius: 20px;
  cursor: pointer;
}
