.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transparent-button button {
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
  margin-left: auto;
}
